@model HTTP5101Assignment3.Models.Student

@{
    ViewBag.Title = "Show";
}

<h2>Student</h2>

@if( Model == null || Model.studentFName == null ) {
    <div><strong>There are no students with that ID.</strong></div>

} else {
    <div>
        <h3>@Model.studentFName @Model.studentLName</h3>
        <p><strong>Student Number:</strong> @Model.studentNumber</p>
        <p><strong>Student ID:</strong> @Model.studentId</p>
        <p><strong>Courses:</strong></p>
        <ul>
            @foreach( var course in Model.courses ) {
                <li>@course.className</li>
            }
        </ul>
        <div style="margin-top: 40px">
            <a href="/Student/ConfirmDelete/@Model.studentId"><strong>Delete Student</strong></a>
        </div>
    </div>
}

<div style="margin-top: 40px">
    <a href="/Assignment4"><strong>Back to Assignment Page</strong></a>
</div>
