<!-- A View which uses server rendering to display a teacher from
the MySQL Database-->

@model HTTP5101Assignment3.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>Teacher</h2>

@if( Model == null || Model.teacherFName == null ) {
    <div><strong>There are no teachers with that ID.</strong></div>

} else {
<div>
    <h3>@Model.teacherFName @Model.teacherLName</h3>
    <p><strong>Employee number:</strong> @Model.employeeNumber</p>
    <p><strong>Hire date:</strong> @Model.hireDate.ToString( "MM/dd/yyyy" )</p>
    <p><strong>Salary:</strong> $@Model.salary.ToString( "0.00" ) / hour</p>
    <p><strong>Teacher ID:</strong> @Model.teacherId</p>
    <p><strong>Courses:</strong></p>
    <ul>
        @foreach( var course in Model.courses ) {
            <li>@course.className</li>
        }
    </ul>
    <div style="margin-top: 40px">
        <a class="btn btn-default" href="/Teacher/ConfirmDelete/@Model.teacherId"><strong>Delete</strong></a>
        <a class="btn btn-default" href="/Teacher/Edit/@Model.teacherId"><strong>Edit</strong></a>
    </div>
</div>
}

<div style="margin-top: 40px">
    <a href="/Assignment4"><strong>Back to Assignment Page</strong></a>
</div>
